[submodule "external/zigpy-znp"]
	path = external/zigpy-znp
	url = https://github.com/pipiche38/zigpy-znp.git
[submodule "external/zigpy"]
	path = external/zigpy
	url = https://github.com/zigpy/zigpy.git
