[submodule "external/zigpy-znp"]
	path = external/zigpy-znp
	url = git://github.com/zigbeefordomoticz/zigpy-znp.git
[submodule "external/zigpy"]
	path = external/zigpy
	url = git://github.com/zigbeefordomoticz/zigpy.git
[submodule "external/zigpy-zigate"]
	path = external/zigpy-zigate
	url = git://github.com/badzz/zigpy-zigate
[submodule "external/pyserial"]
	path = external/pyserial
	url = https://github.com/pyserial/pyserial.git
[submodule "external/dnspython"]
	path = external/dnspython
	url = https://github.com/rthalley/dnspython
