Conf/PluginConf-*
Conf/ZigateGroupsConfig-*
Logs/*
Data/DeviceList-*
Data/GroupsList-*
Data/Zigate.json
www/zigate/reports/*
OTAFirmware/IKEA-TRADFRI/*
OTAFirmware/LEDVANCE/*
OTAFirmware/LEGRAND/*
OTAFirmware/PHILIPS/*
Reports/*
Zdatas/DiscoveryDevice*
__pycache__/
*/__pycache__
