.DS_store
.vscode/**
*/.DS_store
*/*/.DS_store
Conf/PluginConf-*
OTAFirmware/*/*
!OTAFirmware/*/README.me
!OTAFirmware/*/.PRECIOUS
Conf/ZigateGroupsConfig-*
Data/DeviceList-*
Data/GroupsList-*
Data/zigatePDM-*
Data/ZigateGroupsConfig**
Data/Zigate.json
www/zigate/reports/*
Logs/*
Reports/*
Zdatas/DiscoveryDevice*
Reports/*
__pycache__/
**/__pycache__
.vscode/settings.json
.pylintrc
Tools/JennicModuleProgrammer/Build/JennicModuleProgrammer