-c constraints.txt
packaging
zigpy
zigpy-cli
dnspython
z4d-certified-devices
distro
pyserial-asyncio-fast
zigpy_znp
zigpy-blz
zigpy_deconz
bellows
requests
pyserial
serialx
charset-normalizer
jsonschema
cryptography
