-c constraints.txt
zigpy
zigpy-cli
dnspython
z4d-certified-devices
distro
pyserial-asyncio-fast
zigpy_znp
zigpy-blz
zigpy_deconz
bellows
requests
distro
pyserial
charset-normalizer
jsonschema
cryptography
